<table>
    <tr>
        <td>Sprint 1 Blogs</td>
        <td><a href="{{site.baseurl}}/sprint/1/tools">Tools Setup</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/portfolio_theme">Portfolio Theme</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/mistakes">Mistakes</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/manifesto">Manifesto</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/javascript">JavaScript</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/AI">AI</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/agile">Agile</a></td>
    </tr>
</table